<div class="animated fadeIn">
  <div class="card-columns cols-2">
    <div class="card">
      <div class="card-header">
        Ջերմաստիճան
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColours"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Օդորակիչի աշխատանք եւ էլեկտրաեներգիա
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
                  [datasets]="DataAirCondition"
                  [labels]="LablesAirCondition"
                  [options]="lineChartOptions"
                  [colors]="lineChartColours"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Դրամ
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
