<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <strong>Սիստեմ</strong> <small>ծանուցումներ</small>
        </div>
        <div class="card-body">
          <div *ngFor="let alert of alerts">
            <alert [type]="alert.type" [dismissible]="dismissible">{{ alert.msg }}</alert>
          </div>
          <button type="button" class="btn btn-primary" (click)="reset()">Ջնջել</button>
        </div>
      </div>
    </div>
  </div>
</div>
