<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header breadcrumb">
            <i class="fa fa-align-justify"></i> Ջերմոցների Տվյալներ

            <div class="breadcrumb-menu">
              <button type="button" style="width: 170px; " class="btn btn-block btn-outline-success active">Ստեղծել</button>
            </div>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>Ջերմոցի ID</th>
              <th>Տեղադրված բույսի տեսակը</th>
              <th>Հասցե</th>
              <th>Կորդինատներ</th>
              <th>Կարգավիճակ</th>
              <th>Կարգավորումներ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>92389198-44c8-4d8c-ae9f-dce3c20e3be3</td>
              <td>Ելակ</td>
              <td>Քաղաք Արմավիր, գյուղ նորավան փողոց 3, տուն 1</td>
              <td>40.179188, 44.499104</td>
              <td>
                <span class="badge badge-success">Մշակվում է</span>
              </td>
              <td>
                   <i class="cil-pen badge badge-success">Փոփոխել</i>
              </td>
            </tr>
            </tbody>
          </table>
          <ul class="pagination" style="display: none">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
