<div class="animated fadeIn">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <strong>Ջերմոց</strong>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="company">Ջերմոցի անուն</label>
          <input type="text" class="form-control" id="company" placeholder="Մուտքագրեք անունը">
        </div>
          <div class="form-group">
            <label>Բույս</label>
            <input type="text" class="form-control" id="street" placeholder="Մուտքագրեք մշակվող բույսի անունը">
          </div>
        <div class="form-group">
          <label for="street">Հասցե</label>
          <input type="text" class="form-control" id="" placeholder="Մուտքագրեք հասցեն">
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label>Կորդինատներ </label>
            <input type="text" class="form-control" placeholder="Մուտքագրեք կորդինատները">
          </div>
        </div><!--/.row-->
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
        </div>
      </div>
    </div>
  </div><!--/.col-->
</div>
