<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
          </div>
          <div class="text-value">Օդափոխության համակարգ</div>
          <div style="color: palegreen">Ակտիվ</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart1Data"
          [labels]="lineChart1Labels"
          [options]="lineChart1Options"
          [colors]="lineChart1Colours"
          [legend]="lineChart1Legend"
          [chartType]="lineChart1Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a target="_blank" href="https://phenospex.com/products/plant-phenotyping/planteye-f500-multispectral-3d-laser-scanner/">
                Տեսնել Ավելին</a>
            </div>
          </div>
          <div class="text-value">PlantEye F500</div>
          <div style="color: palegreen">Ակտիվ</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart1Data"
          [labels]="lineChart1Labels"
          [options]="lineChart1Options"
          [colors]="lineChart1Colours"
          [legend]="lineChart1Legend"
          [chartType]="lineChart1Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
          </div>
          <div class="text-value">Oդորակիչ</div>
          <div style="color: palegreen">Ակտիվ</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart1Data"
          [labels]="lineChart1Labels"
          [options]="lineChart1Options"
          [colors]="lineChart1Colours"
          [legend]="lineChart1Legend"
          [chartType]="lineChart1Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div [class.row] style=" color: black"></div>
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">Ջերմաստիճանի ցուցիչ</div>
          <div style="color: palegreen">Ակտիվ</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart1Data"
          [labels]="lineChart1Labels"
          [options]="lineChart1Options"
          [colors]="lineChart1Colours"
          [legend]="lineChart1Legend"
          [chartType]="lineChart1Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
          </div>
          <div class="text-value">Խոնավության ցուցիչ</div>
          <div>Անջատված</div>
          <div class="chart-wrapper" style="height:40px;">
            <canvas baseChart class="chart"
                    [datasets]="lineChart4Data"
                    [labels]="lineChart4Labels"
                    [options]="lineChart4Options"
                    [colors]="lineChart4Colours"
                    [legend]="lineChart4Legend"
                    [chartType]="lineChart4Type"></canvas>
          </div>
          <div class="chart-wrapper" style="height:42px;">
            <canvas baseChart class="chart"
                    [datasets]="barChart2Data"
                    [labels]="barChart2Labels"
                    [options]="barChart2Options"
                    [colors]="barChart2Colours"
                    [legend]="barChart2Legend"
                    [chartType]="barChart2Type"></canvas>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
